        @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&family=Josefin+Slab:wght@200&family=Mulish:ital,wght@0,200;0,300;1,200;1,300&display=swap');
        @import url("https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        }
        
         :root {
            --font-primary: "Baloo 2", serif;
            --font-secundary: "Josefin Slab", serif;
            --font-action: "Mulish", serif;
        }
        
        .hamburguer {
            /*background-color: red;*/
            width: 2rem;
            height: 2rem;
            position: fixed;
            z-index: 100;
            right: 2rem;
            top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;
        }
        
        .line {
            width: 100%;
            height: .1rem;
            background-color: white;
            box-shadow: 0.1rem 0.1rem 1px black;
        }
        
        header {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: relative;
        }
        
        .img-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.8)
        }
        
        .img-wrapper img {
            width: 80%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
            animation: zoom 10s;
        }
        
        @keyframes zoom {
            0% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
        
        .banner {
            position: absolute;
            top: 5%;
            left: 1%;
        }
        
        .banner h1 {
            color: white;
            font-size: 2.7rem;
            font-family: var(--font-primary);
            font-weight: 200;
            text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);
            line-height: 3.5rem;
            animation: moveBanner 1s 0.7s;
        }
        
        .banner p {
            font-family: var(--font-secundary);
            color: white;
            font-size: 2.5rem;
            text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);
            line-height: 3.5rem;
            font-weight: 300;
            margin-bottom: 1rem;
            animation: moveBanner 1s 0.5s;
        }
        
        .banner button {
            color: white;
            font-family: var(--font-action);
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: .2rem;
            background: -webkit-linear-gradient(to right, #4286f4, #373B44);
            background: linear-gradient(to right, #4286f4, #373B44);
            padding: 1rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            animation: moveBanner 1s 0.3s;
        }
        
        .banner button:hover {
            opacity: 0.8;
            color: black;
        }
        
        @keyframes moveBanner {
            0% {
                transform: translateY(10rem) rotateY(-30deg);
            }
            100% {
                transform: translateY(0) rotateY(0);
                opacity: 1;
            }
        }
        
        .sidebar {
            width: 20rem;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0rem;
        }
        
        .menu {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .menu-item {
            text-align: center;
            margin-bottom: .5rem;
        }
        
        .menu-link {
            font-family: var(--font-action);
            font-size: 2.2rem;
            color: rgb(219, 214, 214);
        }
        
        .menu-link:hover {
            color: #6a3093;
        }
        
        .social-media {
            position: absolute;
            bottom: 2rem;
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: space-evenly;
        }
        
        .social-media i {
            background-color: #6a3093;
            color: white;
            height: 2.5rem;
            width: 2.5rem;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: background-color 1s;
        }
        
        .social-media:hover {
            cursor: pointer;
        }